# Netbox parameters
NB_URL=http://<ip>:8000
NB_TOKEN=

# Device connection parameters
DEV_USERNAME=
DEV_PASSWORD=
DEV_KEYFILE=

# Some Ubiquiti devices only support a single admin account, so a dedicated
# DEV_USERNAME account can't be created on them. Tried before falling back
# to DEV_USERNAME/DEV_PASSWORD.
DEV_UBNT_USERNAME=
DEV_UBNT_PASSWORD=
